

<div class="categories_component">
  <a routerLink="/car" routerLinkActive="active" arriaCurrentWhenActive="page"><div class="categories"><p class="categories__text">Транспорт</p><img src="./image/categories_img/car.jpg" alt="" class="categories_img categories_img_1"></div></a>
  <a routerLink="/clothes" routerLinkActive="active" arriaCurrentWhenActive="page"><div class="categories"><p class="categories__text">Одежда, обувь, аксессуары</p><img src="./image/categories_img/jacket.png" alt="" class="categories_img categories_img_2"></div></a>
  <a routerLink="/animals" routerLinkActive="active" arriaCurrentWhenActive="page"><div class="categories"><p class="categories__text">Животные</p><img class="categories_img categories_img_3" alt="Животные" src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_35.png" srcset="
    https://www.avito.st/s/avito/components/visual_rubricator/468x270/cat_35.png 3x,
    https://www.avito.st/s/avito/components/visual_rubricator/312x180/cat_35.png 2x,
    https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_35.png" data-marker="visual-rubricator/image-Животные"></div></a>
  <a routerLink="/parts" routerLinkActive="active" arriaCurrentWhenActive="page"><div class="categories"><p class="categories__text">Запчасти</p><img class="categories_img categories_img_4" alt="Запчасти" src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_10.png" srcset="
    https://www.avito.st/s/avito/components/visual_rubricator/468x270/cat_10.png 3x,
    https://www.avito.st/s/avito/components/visual_rubricator/312x180/cat_10.png 2x,
    https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_10.png" data-marker="visual-rubricator/image-Запчасти"></div></a>
  <a routerLink="/electronics" routerLinkActive="active" arriaCurrentWhenActive="page"><div class="categories"><p class="categories__text">Электроника</p><img class="categories_img categories_img_5" alt="Электроника" src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_6.png" srcset="
    https://www.avito.st/s/avito/components/visual_rubricator/468x270/cat_6.png 3x,
    https://www.avito.st/s/avito/components/visual_rubricator/312x180/cat_6.png 2x,
    https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_6.png" data-marker="visual-rubricator/image-Электроника"></div></a>
  <a routerLink="/service-page" routerLinkActive="active" arriaCurrentWhenActive="page"><div class="categories"><p class="categories__text">Услуги</p><img class="categories_img categories_img_6" alt="Услуги" src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_114.png" srcset="
    https://www.avito.st/s/avito/components/visual_rubricator/468x270/cat_114.png 3x,
    https://www.avito.st/s/avito/components/visual_rubricator/312x180/cat_114.png 2x,
    https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_114.png" data-marker="visual-rubricator/image-Услуги"></div></a>
  <a routerLink="/beauty" routerLinkActive="active" arriaCurrentWhenActive="page"><div class="categories"><p class="categories__text">Красота и здоровье</p><img class="categories_img categories_img_7" alt="Красота и здоровье" src="https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_88.png" srcset="
    https://www.avito.st/s/avito/components/visual_rubricator/468x270/cat_88.png 3x,
    https://www.avito.st/s/avito/components/visual_rubricator/312x180/cat_88.png 2x,
    https://www.avito.st/s/avito/components/visual_rubricator/156x90/cat_88.png" data-marker="visual-rubricator/image-Красота и здоровье"></div></a>

</div>
